{% extends "base.html" %}
{% block title %}Nowe auto{% endblock %}
{% block content %}
<h2>Nowe auto</h2>
<form method="post" class="row g-3">
  <div class="col-md-4">
    <label class="form-label">Marka</label>
    <input name="make" class="form-control" required>
  </div>
  <div class="col-md-4">
    <label class="form-label">Model</label>
    <input name="model" class="form-control" required>
  </div>
  <div class="col-md-2">
    <label class="form-label">Rocznik</label>
    <input name="year" type="number" class="form-control">
  </div>
  <div class="col-md-4">
    <label class="form-label">Numer VIN</label>
    <input name="vin" class="form-control">
  </div>
  <div class="col-md-4">
    <label class="form-label">Numer rejestracyjny</label>
    <input name="reg_number" class="form-control">
  </div>
  <div class="col-md-4">
    <label class="form-label">Data pierwszej rejestracji</label>
    <input name="first_registration" type="date" class="form-control">
  </div>
  <div class="col-12">
    <button class="btn btn-primary" type="submit">Zapisz</button>
    <a class="btn btn-secondary" href="{{ url_for('list_cars') }}">Anuluj</a>
  </div>
</form>
{% endblock %}
